// Colors
$darkGrey: #323232;
$white: #f5f5f5;
$black: #2f2f2f;
$blue: #3366cc;
$green: #33D17A;

$backgroundDarker: #252627;
$backgroundDark: #292a2d;

//Fonts
$fontHeader: system-ui,'Fira Mono', monospace;
$fontParagraph: system-ui,'Open Sans', sans-serif;
$fontCode: 'Fira Mono', monospace;

// Content
$breakLarge: 992px;
$width: 760px;