/**
 * Site header
 */
.site-header {
    max-width: $content-width;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    background-color: #00897B;
    margin: 0 auto 5px;


    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $background-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $background-color;
        line-height: $base-line-height;
        font-weight: 600;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    height: 70px;
    background-color: $green-color;
    max-width: $content-width;
    margin: 0 auto;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $background-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

footer .wrapper {
    padding: 0;
}

.wrapper ul {
    margin-left: 0;
}

.copyright p {
    margin-top: $spacing-unit - 5px;
}

.copyright a {
    color: $background-color;
    &:hover {
        color: $brand-color;
    }
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    background-color: $background-color;
    padding: $spacing-unit 0;
    max-width: $content-width;
    margin: 0 auto 5px;
}

.page-heading {
    font-size: 20px;
    display: inline;
    margin: 5px 40px 5px -45px;
    padding: 5px 40px 5px 10px;
    background-color: $pink-color;
    color: $background-color;
}

.post-list {
    margin-top: 30px;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    padding-right: 10px;
    font-size: 12.4px;
    color: #828282;
}

.post-meta2 {
    font-size: $small-font-size;
    color: $grey-color;
    padding-right: 10px;
    font-size: 12.4px;
    color: #828282;    
}

h2 .post-link {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
        color: $pink-color;
    }
}

.post-link {
    display: inline;
    font-size: 18px;
}

.time-count {
    font-size: 16px;
    display: inline;
    margin-left: 120px;
    padding-left: 30px;
    color: #828282;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit - 10;
}

.post-title {
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 1;
    text-align: right;
    text-align: left;
    margin-top: $spacing-unit;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin: 0 auto $spacing-unit;
    width: 800px;
    font-size: 24px;
    line-height: 1.625;


    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
