<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <title>
    {{ i18n "home" }} | {{ .Site.Params.author }}
  </title>

  {{ partial "head.html" . }}

</head>

<body>

    {{ partial "header.html" . }}

        <div class="container">
          <div>
            <h1>{{ .Site.Params.author }}</h1>
          </div>

          <p>I'm a self-taught Software Engineer who loves to tinker with low-level stuff for the sake of having fun, including but not limited to:</p>

          <ul>
            <li>Prototyping Devices (FPGA and Arduino)</li>
            <li>Computer graphics API (OpenGL, SDL, and ...)</li>
            <li>RISC-V architecture</li>
          </ul>

          <p>Professionally, I worked as a Backend engineer so I am quite familiar with the REST API and all its intricates. The two languages I used the most to develop REST API are Golang and Node JS (Typescript).</p>

          <p>There is a blog section on this page, which is purposely to note what I learned in my journey and as a reference for myself. That said, It won't be a comprehensive source.</p>


          <div class="social-links">
            <a href="mailto:brief.tube2096 [at] krisrp.dev" target="_blank" title="email"><img src="/images/envelope-solid.svg" alt="envelope-solid"></a>

            <a href="https://www.linkedin.com/in/krisrp/" target="_blank" title="LinkedIn"><img src="/images/linkedin-brands.svg" alt="linkedin"></i></a>

            <a href="https://github.com/kru" target="_blank" title="GitHub"><img src="/images/square-github-brands.svg" alt="github"></i></a>

            <a href="https://x.com/krisrpdev" target="_blank" title="Twitter/X"><img src="/images/x-twitter-brands.svg" alt="twitter"></a>
          </div>          
      </div>

    {{ partial "footer.html" . }}

</body>

</html>